/* line 3, ../sass/sliders.sass */
#slider_index {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  font-size: 18px;
  margin: 0px auto;
  vertical-align: middle;
}

/* line 15, ../sass/sliders.sass */
#banner-wrapper {
  background: url("../img/banner_index.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: lightskyblue;
}
